@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Website Quản lý nghỉ phép - Công ty UIT</h1>
    </div>
    <div class="jumbotron">
        <h5>Phát triển bởi Nhóm 3 - Công nghệ .NET - Giảng Viên hướng dẫn: ThS Nguyễn Thị Thanh Trúc </h5>
        <ul>
            <li>
                <p>Sử dụng .NET Core 3.1</p>
            </li>
            <li>
                <p>Mapping theo cấu trúc: ViewModels and AutoMapper</p>
            </li>
            <li>
                <p>Nền tảng và phương pháp tiếp cận: Entity Framework, Code First</p>
            </li>
            <li>
                <p>Sử dụng kĩ thuật: Dependency Injection</p>
            </li>
            <li>
                <p>Cách tổ chức source Code: Repository Pattern</p>
            </li>
            <li>
                <p>Hệ thống quản lý User: Identity and Authentication</p>
            </li>
            <li>
                <p>Khởi tạo CRUD bằng: Linq Queries and Lambda Expressions</p>
            </li>
        </ul>
    </div>


